@media only screen and (max-width:414px){
    /* ---------菜單--------- */
    .line{
        width: 30px;
        height: 100vh;
        background-color:  rgb(196, 226, 174);
    }
    .b-a, .bar, .bar:before, .bar:after {
        left: 0;
        height: 3px;
        width: 18px;
    }
    .bar {
        position: fixed;
        left: 5px;
        top: 15px;
      }
    .bar:before {
        top: -6px;
      }
    .bar:after {
        top: 6px;
      }
    .menu-expanded {
        width: 40%;
        line-height: 30px;
      }
    .menu-expanded a {
        font-size: 1em;
      }
    .menu-expanded li:first-child{
        margin-top: 40px;
    }
    /* ---------感測--------- */
    .control{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        top: 0;
        left: 0%;
        width: 100%;
        height: 40%;
    }
    .change{
        width: 80%;
        height: 25px;
        border-radius: 5px;
    }
    .change h2{
        font-size: .5rem;  
    }  
    .controlbtn{
      border-radius: 3px;
      margin: 0px 8px;
      color: white;
      padding: 0;
      padding-top: 3px;
      box-shadow: 2px 2px 1px  #1f1f1f9d inset;
    }
    .sensorbtn{
      padding: 2px 0;
      margin: 5px 5px;
    }
    /* ---------控制顯示--------- */
    .onoff4, .onoff5, .onoff6{
        display: block;
    }
    .onoff1, .onoff2, .onoff3{
        display: none;
    }
    .light{
        border-radius: 5px;
        width: 80%;
        height: 60px;
    }
    .lighton{
        width: 55px;
        height: 55px;
        top: -3%;
        left: 11%;
    }
    .lightoff{
        width: 55px;
        height: 55px;
        top: 7%;
        left: 11%;
    }
    .light h2{
        font-size: 1rem;
        top: 61%;
        left: 33%;
        letter-spacing: 1px;
    }
    .onoff4{
        position: absolute;
        top: 21%;
        left: 50%;
    }

    .fan{
        border-radius: 5px;
        width: 80%;
        height: 60px;
    }
    .fanoff{
        width: 45px;
        height: 45px;
        top: 11%;
        left: 12.5%;
    }
    .fanon{
        width: 45px;
        height: 45px;
        top: 11%;
        left: 12.5%;
    }
    .fan h2{
        font-size: 1.04rem;
        top: 61%;
        left: 32.5%;
        letter-spacing: 1px;
    }
    .onoff5{
        position: absolute;
        top: 21%;
        left: 50%;
    }


    .water{
        border-radius: 5px;
        width: 80%;
        height: 60px;
    }
    .wateroff{
        width: 55px;
        height: 55px;
        top: 0%;
        left: 11%;
    }
    .wateron{
        width: 55px;
        height: 55px;
        top: 0%;
        left: 11%;
    }
    .water h2{
        font-size: 1.04rem;
        top: 61%;
        left: 33%;
        letter-spacing: 1px;
    }
    .onoff6{
        position: absolute;
        top: 21%;
        left: 50%;
    }
    .icon{
        font-size: 1rem
    }




    
    .live{
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 40%;
        left: 0%;
        width: 100%;
        height: 50%;
    }
    .live h1{
        display: none;
    }
    .show{
        position: relative;
          border-radius: 10px;
          border: solid 5px #A9D18E;
          align-self: center;
          width: 90%;
          height: 90%;
          overflow: hidden;
          background-color: rgb(253, 253, 253);
      }
    .show>img{
        width: 100%;
        height: 100%;
    }
    .fans0{
        width: 50px;
        height: 50px;
    }
    .fan01{
        width: 30px;
        height: 30px;
    }
    .fans1{
      top: 35%;
      right: 5%;
    }
    .fans2{
      top: 35%;
      right: 29%;
    }
    .fans3{
      top: 35%;
      right: 54%;
    }
    .fans4{
      top: 35%;
      right: 80%;
    }
    }
    /*ipad(中型平板電腦，768px及以上)*/
@media only screen and (min-width:768px){
    /* ---------菜單--------- */
    .line{
        width: 60px;
        height: 100vh;
    }
    .b-a, .bar, .bar:before, .bar:after {
        left: 0;
        height: 6px;
        width: 30px;
    }
    .bar {
        left: 12px;
        top: 24px;
      }
    .bar:before {
        top: -8px;
      }
    .bar:after {
        top: 8px;
      }
    .menu-expanded {
        width: 40%;
        line-height: 50px;
      }
    .menu-expanded a {
        font-size: 2rem;
      }
    .menu-expanded li:first-child{
        margin-top: 50px;
    }
    /* ---------控制--------- */
    .control{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-content: space-around;
        top: 5%;
        left: 0%;
        width: 100%;
        height: 300px;
    }
    .change{
        width: 80%;
        height: 50px;
        border-radius: 10px;
    }
    .change h2{
        font-size: 1.5rem;  
    }  
    .controlbtn{
      border-radius: 10px;
      margin: 11px 10px;
      color: white;
      padding: 0;
      padding-top: 3px;
      box-shadow: 3px 3px 3px  #1f1f1f9d inset;
    }
    .sensorbtn{
      padding: 3px 0;
      margin: 10px 10px;
    }
    /* ---------控制顯示--------- */
    .onoff4, .onoff5, .onoff6{
        display: none;
    }
    .onoff1, .onoff2, .onoff3{
        display: block;
    }
    .light{
        border-radius: 10px;
        width: 30%;
        height: 180px;
    }
    .lighton{
        width: 100px;
        height: 100px;
        top: 3%;
        left: 4%;
    }
    .lightoff{
        width: 100px;
        height: 100px;
        top: 9%;
        left: 4%;
    }
    .light h2{
        font-size: 1.8rem;
        top: 28%;
        left: 55%;
        letter-spacing: 3px;
    }
    .onoff1{
        position: absolute;
        top: 66%;
        left: 13%;
    }


    .fan{
        border-radius: 10px;
        width: 30%;
        height: 180px;
    }
    .fanon{
        width: 80px;
        height: 80px;
        top: 14%;
        left: 14%;
    }
    .fanoff{
        width: 80px;
        height: 80px;
        top: 14%;
        left: 14%;
    }
    .fan h2{
        font-size: 1.8rem;
        top: 28%;
        left: 57%;
        letter-spacing: 3px;
    }
    .onoff2{
        position: absolute;
        top: 66%;
        left: 13%;
    }
    


    .water{
        border-radius: 10px;
        width: 30%;
        height: 180px;
    }
    .wateron{
        width: 90px;
        height: 90px;
        top: 11%;
        left: 11%;
    }
    .wateroff{
        width: 90px;
        height: 90px;
        top: 11%;
        left: 11%;
    }
    .water h2{
        font-size: 1.8rem;
        top: 28%;
        left: 57%;
        letter-spacing: 3px;
    }
    .onoff3{
        position: absolute;
        top: 66%;
        left: 13%;
    }
    .live{
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 39%;
        left: 2%;
        width: 96%;
        height: 55%;
    }
    .live h1{
        display: none;
    }
    .show{
        
        position: relative;
          border-radius: 10px;
          border: solid 5px #A9D18E;
          align-self: center;
          width: 100%;
          height: 100%;
          overflow: hidden;
          background-color: rgb(253, 253, 253);
      }
    .fans0{
        width: 50px;
        height: 50px;
    }
    .fan01{
        width: 30px;
        height: 30px;
    }
    .fans1{
      top: 35%;
      right: 8%;
    }
    .fans2{
      top: 35%;
      right: 32%;
    }
    .fans3{
      top: 35%;
      right: 57%;
    }
    .fans4{
      top: 35%;
      right: 83%;
    }
}
    /*ipad pro(中型平板電腦，768px及以上)*/
@media only screen and (min-width:1024px){
    /* ---------菜單--------- */
        .line{
            width: 60px;
            height: 100vh;
        }
        .b-a, .bar, .bar:before, .bar:after {
            left: 0;
            height: 6px;
            width: 30px;
        }
        .bar {
            left: 12px;
            top: 24px;
          }
        .bar:before {
            top: -8px;
          }
        .bar:after {
            top: 8px;
          }
        .menu-expanded {
            width: 38%;
            line-height: 80px;
          }
        .menu-expanded a {
            font-size: 3rem;
          }
        .menu-expanded li:first-child{
            margin-top: 80px;
        }
        /* ---------控制--------- */
        .control{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: space-around;
            top: 5%;
            left: 0%;
            width: 100%;
            height: 380px;
        }
        .change{
            width: 80%;
            height: 50px;
            border-radius: 10px;
        }
        .change h2{
            font-size: 1.5rem;  
        }  
        .controlbtn{
          border-radius: 10px;
          margin: 11px 10px;
          color: white;
          padding: 0;
          padding-top: 3px;
          box-shadow: 3px 3px 3px  #1f1f1f9d inset;
        }
        .sensorbtn{
          padding: 3px 0;
          margin: 10px 10px;
        }
        /* ---------控制顯示--------- */
        .onoff4, .onoff5, .onoff6{
            display: none;
        }
        .onoff1, .onoff2, .onoff3{
            display: block;
        }
        .light{
            border-radius: 10px;
            width: 30%;
            height: 180px;
        }
        .lighton{
            width: 150px;
            height: 150px;
            top: 1%;
            left: -2%;
        }
        .lightoff{
            width: 150px;
            height: 150px;
            top: 10%;
            left: -2%;
        }
        .light h2{
            font-size: 2rem;
            top: 27%;
            left: 57%;
            letter-spacing: 3px;
        }
        .onoff1{
            position: absolute;
            top: 58%;
            left: 42%;
        }
    
    
        .fan{
            border-radius: 10px;
            width: 30%;
            height: 180px;
        }
        .fanon{
            width: 100px;
            height: 100px;
            top: 25%;
            left: 4%;
        }
        .fanoff{
            width: 100px;
            height: 100px;
            top: 25%;
            left: 4%;
        }
        .fan h2{
            font-size: 2rem;
            top: 27%;
            left: 58%;
            letter-spacing: 3px;
        }
        .onoff2{
            position: absolute;
            top: 57%;
            left: 43%;
        }
        
    
    
        .water{
            border-radius: 10px;
            width: 30%;
            height: 180px;
        }
        .wateron{
            width: 110px;
            height: 110px;
            top: 21%;
            left: 2%;
        }
        .wateroff{
            width: 110px;
            height: 110px;
            top: 21%;
            left: 2%;
        }
        .water h2{
            font-size: 2rem;
            top: 27%;
            left: 59%;
            letter-spacing: 3px;
        }
        .onoff3{
            position: absolute;
            top: 57%;
            left: 43%;
        }


        .live{
            flex-direction: column;
            justify-content: space-between;
            position: absolute;
            top: 37%;
            left: 2%;
            width: 96%;
            height: 695px;
        }
        .live h1{
            display: none;
        }
        .show{
            position: relative;
              border-radius: 10px;
              border: solid 5px #A9D18E;
              align-self: center;
              width: 100%;
              height: 100%;
              overflow: hidden;
              background-color: rgb(253, 253, 253);
          }
        .fans0{
            width: 80px;
            height: 80px;
        }
        .fan01{
            width: 50px;
            height: 50px;
        }
        .fans1{
          top: 35%;
          right: 15%;
        }
        .fans2{
          top: 35%;
          right: 35%;
        }
        .fans3{
          top: 35%;
          right: 58%;
        }
        .fans4{
          top: 35%;
          right: 78%;
        }
    }
    /*大型設備(筆記型電腦/桌機，992px及以上)*/
@media only screen and (min-width:1025px){
    /* ---------菜單--------- */
    .line{
        width: 60px;
        height: 100vh;
    }
    .b-a, .bar, .bar:before, .bar:after {
        left: 0;
        height: 6px;
        width: 30px;
    }
    .bar {
        left: 12px;
        top: 24px;
      }
    .bar:before {
        top: -8px;
      }
    .bar:after {
        top: 8px;
      }
    .menu-expanded {
        width: 20%;
        line-height: 50px;
      }
    .menu-expanded a {
        font-size: 2em;
      }
    .menu-expanded li:first-child{
        margin-top: 50px;
    }
    /* ---------控制--------- */
    .control{
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        top: 5%;
        left: 10%;
        width: 500px;
        height: 90vh;
    }
    .change{
        width: 400px;
        height: 50px;
        border-radius: 10px;
    }
    .change h2{
        font-size: 1.5rem;  
    }  
    .controlbtn{
      border-radius: 10px;
      margin: 3px 10px;
      color: white;
      padding: 3px 0;
      box-shadow: 3px 3px 5px  #1f1f1f9d inset;
    }
    .sensorbtn{
      padding: 3px 0;
      margin: 10px 10px;
    }
    /* ---------控制顯示--------- */
    .onoff4, .onoff5, .onoff6{
        display: none;
    }
    .onoff1, .onoff2, .onoff3{
        display: block;
    }
    .light{
        border-radius: 10px;
        width: 400px;
        height: 200px;
    }
    .lighton{
        top: 2%;
        left: 5.2%;
        width: 150px;
        height: 150px;
    }
    .lightoff{
        top: 10%;
        left: 5%;
        width: 150px;
        height: 150px;
    }
    .light h2{
        font-size: 2rem;
        top: 24%;
        left: 59%;
        letter-spacing: 4px;
    }
    .onoff1{
        position: absolute;
        top: 55%;
        left: 47%;
    }


    .fan{
        border-radius: 10px;
        width: 400px;
        height: 200px;
    }
    .fanon{
        top: 22%;
        left: 8%;
        width: 117px;
        height: 117px;
    }
    .fanoff{
        top: 22%;
        left: 8%;
        width: 117px;
        height: 117px;
    }
    .fan h2{
        font-size: 2rem;
        top: 24%;
        left: 59%;
        letter-spacing: 4px;
    }
    .onoff2{
        position: absolute;
        top: 55%;
        left: 47%;
    }
    


    .water{
        width: 400px;
        height: 200px;
        border-radius: 10px;
    }
    .wateron{
        top: 18%;
        left: 7%;
        width: 125px;
        height: 125px;
    }
    .wateroff{
        top: 18%;
        left: 7%;
        width: 125px;
        height: 125px;
    }
    .water h2{
        font-size: 2rem;
        top: 24%;
        left: 59%;
        letter-spacing: 4px;
    }
    .onoff3{
        position: absolute;
        top: 55%;
        left: 47%;
    }


    .live{
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 5%;
        left: 40%;
        width: 1000px;
        height: 850px;
    }
    .live h1{
        display: block;
    }
    .show{
         position: relative;
          border-radius: 10px;
          border: solid 5px #A9D18E;
          align-self: center;
          width: 900px;
          height: 700px;
          overflow: hidden;
      }
    .fans0{
        width: 80px;
        height: 80px;
    }
    .fan01{
        width: 50px;
        height: 50px;
    }
    .fans1{
        top: 35%;
        right: 15%;
      }
      .fans2{
        top: 35%;
        right: 35%;
      }
      .fans3{
        top: 35%;
        right: 55%;
      }
      .fans4{
        top: 35%;
        right: 75%;
      }
    }